html, body{
    font-size: 50px;
    background-color: black;
}

.calcDisplay {
    border: solid black;
    padding: 55px;
    margin-bottom: 5px;
    min-height: 58px;
    background-color: #ffffcc;
}

.buttons{
    display: flex;
    background-color: #d2b48c;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 1305px;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    width: 585px;
}

#clear{
    width: 460px;
    text-align: center;
    background-color: #ffa500;
}

.numbers div{
    border: solid #363636;
    padding: 30px 195px;
    margin: 6px;
    background-color: black;
    color: white;
}

.operators div{
    border: solid #363636;
    padding: 70px 122px;
    margin: 5px;
    width: 30px;
    background-color: black;
    color: white;
}